<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Mesa Performance: Continuous Integration</title>
  <link rel=stylesheet type=text/css href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
	<link href="{{url_for('static', filename='examples.css')}}" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script language="javascript" type="text/javascript" src="{{url_for('static', filename='scripts/jquery.flot.js')}}"></script>
	<script language="javascript" type="text/javascript" src="{{url_for('static', filename='scripts/jquery.flot.time.js')}}"></script>
	<script language="javascript" type="text/javascript" src="{{url_for('static', filename='scripts/jquery.flot.resize.js')}}"></script>
	<script language="javascript" type="text/javascript" src="{{url_for('static', filename='scripts/jquery.flot.errorbars.js')}}"></script>
	<script language="javascript" type="text/javascript" src="{{url_for('static', filename='scripts/jquery.flot.navigate.js')}}"></script>
	<script language="javascript" type="text/javascript" src="{{url_for('static', filename='scripts/plotter.js')}}"></script>
  <script>
    // Run plot
    $(function() {
        var data = {};
        $.ajax({
            dataType: 'text',
            url: "{{url_for('static', filename='scores.json')}}",
            data: data,
            success: function( data ) {
                // debugger;
                var d = JSON.parse(data);
  {% for benchmark in benchmarks %}
    do_plot("{{benchmark}}", "{{ '#' + benchmark }}", "{{ '#click_' + benchmark}}", d);
  {% endfor %}
            }
        });

      // Add the Flot version string to the footer
      $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
    });
  </script>
  </head>
  <body>

    <div id="header">
  {% if not category %}
    <h2>Mesa Performance</h2>
  {% else %}:
    <h2>Mesa Performance: {{category}}</h2>
  {% endif %}
    </div>

    <div id="content">

  {% for benchmark in benchmarks %}
  <h2>{{benchmark}}</h2>
  <div>
    <div id="{{ benchmark + '-legend-container' }}" class="legend-container">
    </div>
    <div class="demo-container">
      <div id="{{benchmark}}" class="demo-placeholder"></div>
    </div>
    <div id="{{ 'click_' + benchmark }}"></div>
  </div>
  {% endfor %}

  <div id="dialog" title="Build Started"></div>

	<div id="footer">
	  Copyright &copy; 2007 - 2014 IOLA and Ole Laursen
	</div>

</body>
</html>
